<h3 class="dialogue">
  <%= params[:question] %><br><em>—You</em>
</h3>

<h3 class="dialogue dialogue-coach">
  <%= @response %><br><em>—Your Coach</em>
</h3>

<h3><%= link_to "Ask another question", "/ask" %></h3>
